{% extends 'base.html.twig' %}

{% block title %}Scheduler for piper truck reservation{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>Date</th>
                        {% for p in placements %}
                            <th>{{ p.getId() }}</th>
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for date,c in contents %}
                        <tr>
                        <td>{{ date }}</td>
                            {% for date,c in c %}
                                <th>{{ p.getId() }}</th>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
